body {
  margin: 0 auto;
  padding: 0;
  font-family: "Roboto", "Arial", sans-serif;
  font-size: 14px;
  color: #444;
  width: 80vw;
}

header {
  width: 60%;
  margin: 0 auto;
}

img {
  max-width: 80vw;
  height: auto;
  margin: 10px auto;
  display: block;
  border-radius: 10px;
}
